# This is Git's per-user configuration file.
[user]
	name = Steven Chambers
	email = me@stevenchambers.dev
[push]
	default = simple
[rebase]
  updateRefs = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
[alias]
    lg = !git lg1
    lg1 = !git lg1-specific --all
    lg2 = !git lg2-specific --all
    lg3 = !git lg3-specific --all

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    forget="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
    forgetlist="!git fetch -p && git branch -vv | awk '/: gone]/{print $1}'"
    ignore="update-index --assume-unchanged"
    ignored=! git ls-files -v | grep '^h'
    unignore="update-index --no-assume-unchanged"
    smudge = git-lfs smudge -- %f
    required = true
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
[pull]
	rebase = true
[diff]
    colorMoved = default
[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[rerere]
	enabled = true

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE/ MERGED"

[includeIf "gitdir:~/foss/"]
  path = ~/foss/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
