# General
alias "emacs"='emacsclient -nw -a ""'
alias "vim"="nvim"

mkcd() {
	mkdir $1 && cd $1
}

# Git
alias "glog"="git lg3"
alias "gs"="git status"
alias "gc"="git commit"
alias "gf"="git fetch --prune"
alias "gfm"="git fetch origin master --prune"
alias "gpl"="git pull --rebase"
alias "gp"="git push"
alias "gpu"="git push -u origin HEAD"
alias "gam"="git commit --amend --no-edit"
alias "gama"="git commit -a --amend --no-edit"
alias "gch"="git checkout"
alias "gr"="git rebase"
alias "grm"="git rebase origin/master"
alias "gd"="git diff"
alias "gdc"="git diff --cached"
alias "gpf"="git push --force-with-lease"
alias "grc"="git rebase --continue"
alias "gcb"="git branch --merged | egrep -v \"(^\*|master|develop|test)\" | xargs git branch -d"
alias "lg"="lazygit"
alias "dfadd"="~/dotfiles/bin/add"

if [ -n "$NVIM_LISTEN_ADDRESS" ]; then
    alias nvim=nvr -cc split --remote-wait +'set bufhidden=wipe'
fi

findandkill() {
  port=$(lsof -n -i4TCP:$1 | grep LISTEN | awk '{ print $2 }')
  kill -9 $port
}
alias killport=findandkill

wip() {
	git commit -a -m "WIP: $1"
}

# Tmux
alias "tks"="tmux kill-session"
alias "tl"="tmuxp load "
alias "ta"="tmux a"
